<app-menu></app-menu>

<body class="container p-4">
    <main class="row justify-content-center">
        <h1>Consejos para el Cuidado de Mascotas</h1>

        <img src="assets/images/pexels-thijs-van-der-weide-998254.jpg" alt="Dos perritos jugando" style="width: 50%; height: 50%;" />

        <h2>1. <strong>Visitas regulares al veterinario:</strong></h2>
        <p>Programa chequeos periódicos para garantizar la salud de tu mascota y prevenir posibles problemas.</p>

        <h2>2. <strong>Alimentación balanceada:</strong></h2>
        <p>Proporciona una dieta equilibrada y adecuada a la especie, considerando edad, tamaño y necesidades
            específicas.</p>

        <h2>3. <strong>Ejercicio diario:</strong></h2>
        <p>Asegúrate de que tu mascota haga suficiente ejercicio para mantenerse activa y saludable.</p>

        <h2>4. <strong>Higiene y cuidado personal:</strong></h2>
        <p>Realiza baños y cepillados regulares, corta las uñas según sea necesario y cuida de la higiene dental.</p>

        <h2>5. <strong>Identificación:</strong></h2>
        <p>Coloca un collar con placa de identificación o un microchip para facilitar la ubicación de tu mascota en caso
            de pérdida.</p>

        <h2>6. <strong>Juguetes y enriquecimiento:</strong></h2>
        <p>Proporciona juguetes y actividades que estimulen la mente de tu mascota, manteniéndola entretenida.</p>

        <h2>7. <strong>Vacunación y desparasitación:</strong></h2>
        <p>Sigue el calendario de vacunación recomendado y desparasita a tu mascota regularmente.</p>

        <h2>8. <strong>Ambiente seguro:</strong></h2>
        <p>Crea un entorno seguro y libre de peligros, asegurándote de que no haya sustancias tóxicas al alcance.</p>

        <h2>9. <strong>Socialización:</strong></h2>
        <p>Expon a tu mascota a diferentes entornos y personas desde temprana edad para fomentar una conducta social
            positiva.</p>

        <h2>10. <strong>Amor y atención:</strong></h2>
        <p>Dedica tiempo de calidad a tu mascota, brindándole cariño, juegos y atención personalizada.</p>

        <div class="row mt-4">
            <div class="col-md-6">
                <video src="assets/video/pexels-rodnae-productions-7516712 (1080p).mp4" controls class="w-100" style="max-height: 400px;" autoplay loop></video>
            </div>
            <div class="col-md-6">
                <video src="assets/video/production_id_4057149 (2160p).mp4" controls class="w-100" style="max-height: 400px;" autoplay loop></video>
            </div>
        </div>
        <img src="assets/images/pexels-nancy-guth-850602.jpg" alt="Dos perritos jugando" style="width: 50%; height: 50%;" class="d-flex justify-content-center"/>
    </main>
<footer class="d-flex justify-content-center">
  <p>&copy; 2024 PetPlace. Todos los derechos reservados.</p>
</footer>
</body>