<app-menu></app-menu>
<main class="container-fluid">
  <div class="row justify-content-center ">
    <div id="init-section" class="col-12 p-4 shadow-lg">
      <div class="d-flex justify-content-center">
        <img class="rounded-pill" ngSrc="assets/pet-place-logo.jpg" height="350" width="1024" priority>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-center">
      <img ngSrc="assets/images/pexels-caio-69371.jpg" height="350" width="500" priority>
    </div> -->
    <div class="d-flex justify-content-center">
      <span class="principal-paragraph m-3">
        En esta página nos enfocamos en cuidar y entender mejor a nuestros amigos animales.
        Ofrecemos consejos prácticos y recursos para asegurarnos de que tus mascotas estén felices y saludables.
        Explora con nosotros el mundo del cuidado animal y descubre cómo fortalecer el vínculo especial que compartes
        con
        tus adorables compañeros.
      </span>
    </div>
    <div class="d-flex justify-content-center">
      <img ngSrc="assets/images/pexels-tom-fisk-5543760.jpg" height="350" width="500" priority>
    </div>
    <div>

    </div>
    <div class="justify-content-center">
      <h2>Misión:</h2>
        <p>En nuestra misión en esta página, nos comprometemos a ser un recurso confiable y solidario para los amantes de los animales, brindando información práctica y valiosa que promueva el bienestar y la salud de sus queridos compañeros. Nos esforzamos por ser un faro de conocimiento, orientación y apoyo, facilitando a los cuidadores de mascotas las herramientas necesarias para ofrecer una vida plena y feliz a sus amigos animales.</p>
      <h2>Visión:</h2>
        <p>Nuestra visión es construir una comunidad comprometida con el cuidado animal, donde cada mascota sea tratada con amor, respeto y compasión. Buscamos ser un espacio en línea vibrante y educativo, donde los propietarios de mascotas encuentren inspiración, soluciones prácticas y un sentido de conexión. Aspiramos a ser un catalizador en la creación de un mundo donde los animales de compañía gocen de vidas plenas, y donde el lazo humano-animal sea fortalecido mediante el entendimiento y el compromiso responsable.</p>
    </div>
  <div>
    <img src="assets/images/pexels-markus-winkler-3790942.jpg" class="justify-content-center" height="100%" />
  </div>
  </div>
</main>
<footer class="d-flex justify-content-center">
  <p>&copy; 2024 PetPlace. Todos los derechos reservados.</p>
</footer>