
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
#init-section{
    width: 100%;
    background-image: url(../../assets/images/pexels-caio-69371.jpg); 
    background-size: 100%;
    background-size: contain;  
}
img {
    max-width: 100%; /* Para asegurar que la imagen sea responsiva */
}
.principal-paragraph{
    width: 75%;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    text-wrap: pretty;
    line-height: 1.5em;
}